body{
  font-family: Roboto, Arial;
  margin: 80px 30px 50px 30px;
}

/*Smartphone*/
@media screen and (min-width: 320px) {
  body{
    background-color: blue;
  }
}

/*PC*/
@media screen and (min-width: 1025px) {
  body{
    background-color: white;
    margin-left: 500px;
    margin-right: 500px;
  }
}
