/*Smartphone*/
@media screen and (min-width: 320px) {
  
}

/*PC*/
@media screen and (min-width: 1025px) {
  
}

.header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgb(0, 255, 238);
  padding: 20px 0;
  font-size: 20px;
  font-weight: bold;
}

.title{
  margin-left: 50px;
}

.input-container{
  display: flex;
  padding: 10px 100px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  border-top: 1px solid rgb(150, 150, 150);
}

.input-field{
  flex: 1;
  padding: 8px;
  border: 1px solid #6e6e6e;
  border-radius: 8px;
  font-size: 20px;
  outline: none;
}

.input-button{
  margin-left: 8px;
  padding: 8px 16px;
  background-color: rgb(0, 115, 255);
  color: white;
  font-size: 20px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.15s;
}

.input-button:hover{
  background-color: #1e92ff;
}

.input-button:active{
  scale: 0.95;
}